:root {
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --light-grayish-blue: hsl(240, 5%, 91%);
    --vary-dark-saturated-blue: hsl(238, 29%, 16%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --soft-red: hsl(14, 88%, 65%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 0.75rem;
    color: var(--vary-dark-saturated-blue);
}

.faq {
    width: 100%;
    min-width: 250px;
    max-width: 400px;
    min-height: 509px;
    margin: 9rem 1.5rem 4rem;
    background: #fff;
    box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    position: relative;
}

.faq__inner {
    margin-top: calc(104px + 2rem);
    padding: 0 1.5rem;
    position: relative;
}

.faq__title {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
}

.faq__inner__button {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
    .faq__inner__button:hover {
        color: var(--soft-red);
    }
}

.faq__inner__button img {
    width: 10px;
    height: 7px;
    transition: transform .3s ease;
}

.faq__question {
    font-size: .8rem;
    font-weight: 400;
}

.faq__answer {
    display: none;
    color: var(--dark-grayish-blue);
    line-height: 1.5;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.faq__inner ul {
    list-style: none;
}

.faq__inner ul li {
    border-bottom: 1px solid var(--light-grayish-blue);
    margin-bottom: .5rem;
}

.faq__bg__container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.faq__bg {
    background: url("images/illustration-woman-online-mobile.svg") no-repeat;
    width: 266px;
    height: 196px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-55%, -55%);
}

.faq__bg__box {
    display: none;
}

.faq__bg__shadow {
    background: url("images/bg-pattern-mobile.svg") no-repeat;
    width: 240px;
    height: 104px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

/* List item active */
.faq__inner ul li.active .faq__inner__button {
    padding-bottom: 0;
}
.faq__inner ul li.active .faq__question {
    font-weight: 700;
}
.faq__inner ul li.active .faq__answer {
    display: block;
    opacity: 1;
}
.faq__inner ul li.active img {
    transform: rotateX(180deg);
}

/* Media queries */

/* Desktop */
@media only screen and (min-width: 900px) {

    body {
        align-items: center;
    }

    .faq {
        max-width: 920px;
        margin: 1rem 3rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .faq__inner {
        margin: 0;
        margin-top: 5rem;
        padding-right: 5rem;
        width: 50%;
    }

    .faq__title {
        text-align: left;
        margin-bottom: 1rem;
    }

    .faq__question {
        font-size: 0.85rem;
    }

    .faq__bg__container {
        overflow: hidden;
    }

    .faq__bg {
        background: url("images/illustration-woman-online-desktop.svg") no-repeat;
        width: 472px;
        height: 358px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-85px, -50%);
        z-index: 1;
    }

    .faq__bg__box {
        display: block;
        width: 191px;
        height: 184px;
        position: absolute;
        top: 50%;
        left: 0;
        background: url("images/illustration-box-desktop.svg") no-repeat;
        transform: translate(-50%, -25%); 
        z-index: 2;
    }
    
    .faq__bg__shadow {
        background: url("images/bg-pattern-desktop.svg") 100% no-repeat;
        width: 964px;
        height: 944px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-575px, -58%);
    }
}